<br>
<br>
<div class="container">
  <img class="avatar3"src="/assets/img/cebolla.jpg"width="100" height="100"/>
  <img class="avatar3"src="/assets/img/gene.jpg"width="100" height="100"/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
  
                 </div>
      </div>
      <div class="clearfix"></div>
      <div class="container-fluid">

          <div class="row">
            <div class="col-md-12">
               <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <a class="btn btn-default" href="http://localhost:4200/#/listacliente">Listado Clientes</a>
                <a class="btn btn-success" href="http://localhost:4200/#/ventaxcliente">Ventas por Cliente</a>
  </div>
</div>
</div>

      <div class="row">
        <div class="col-md-4"> 
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Seleccionar Ciudad</h4>
  
            </div>
            <div class="card-body">
             
                <div class="row">
                  <div class="col-md-12">
                    
                      
     
                      <select [(ngModel)]="Ciudad" class="example-full-width " (change)="buscarConsolidado()">
                        <option value="Bogotá">Bogotá</option>
                        <option value="Cali">Cali</option>
                        <option value="Medellín">Medellín</option>
                        
                      </select>
                      <input matInput placeholder="" type="hidden" [(ngModel)]="totalventasciudad">
                      <input matInput placeholder=" " type="hidden" [(ngModel)]="Idciudad">
                  </div>
                  
                </div>
                                
                
              