<br>
<br>
<div class="container">
  <img class="avatar3"src="/assets/img/cebolla.jpg"width="100" height="100"/>
  <img class="avatar3"src="/assets/img/gene.jpg"width="100" height="100"/>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
  
                 </div>
      </div>
        
                      <div class="container-fluid">
    
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header card-header-danger">
                            <h4 class="card-title ">total ventas por ciudad</h4>
                
                          </div>
                          <div class="card-body">
                            <div class="table-responsive">
            
                
                              <table class="table">
                                <thead class=" text-primary">
                
                                  <th>
                                   Ciudad
                                  </th>
                                  <th>
                                    Valor total Ventas
                                  </th>
                                  
                
                                </thead>
                
                                <tbody>
                                  <tr *ngFor="let contenido of contenido" class="">
                                    <td>{{contenido.ciudad}}</td>
                                    <td>{{contenido.totalventasciudad}}</td>
                                    
                
                
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                
                    </div>
                  </div>
                
                                
                
              